li {
    list-style: none;
}

.user-dropdown-img {
    height: 50px;
    border-radius: 25px;
}

.user-dropdown > .dropdown-menu {
    background-color: #033036;
    border: none;
    border-radius: 0px;
    left: 50px;
    right: 0;
    padding: 0px;
    box-shadow: none;
}

.header-divider {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .header-divider {
        display: none;
    }
}

.invalid-feedback{
    color: red;
}